[submodule "hyle-design-system"]
	path = hyle-design-system
	url = https://github.com/mbaliga/hyle-design-system
[submodule "shared-libraries"]
	path = shared-libraries
	url = https://github.com/mbaliga/Shared-Libraries-asoc.git
[submodule "core/third_party/libarchive"]
	path = core/third_party/libarchive
	url = https://github.com/libarchive/libarchive.git
[submodule "core/third_party/lz4"]
	path = core/third_party/lz4
	url = https://github.com/lz4/lz4.git
[submodule "core/third_party/zstd"]
	path = core/third_party/zstd
	url = https://github.com/facebook/zstd.git
[submodule "core/third_party/zlib"]
	path = core/third_party/zlib
	url = https://github.com/madler/zlib.git
